.general{
    max-width: 100%;
    overflow-x: hidden;
}
.hero-section{
    background-color: #f5f7fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 72.39px;
    padding: 100px 150px;
    position: relative;
}

.hero-right{
    display: flex;
    position: absolute;
    right: 110px;

}

.hero-right img{
    width: 272.16px;
    height: 283.3px;
}
.hero-left{
    display: flex;
    flex-direction: column;
    gap: 22.27px;
}

.hero-left h1{
    font-size: 44.55px;
    line-height: 52.9px;
    font-weight: 600;    
}
.hero-left h1 span{
    color: #4CAF4F;
}
.hero-left p{
     font-weight: 400;
     line-height: 16.7px;
     font-size: 11.14px;
     color: #717171;
}
.client-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11.14px;
    padding-top: 28px;
}
.client-section h1{
    font-size: 25.06px;
    line-height: 30.6px;
    font-weight: 600;
    color: #4D4D4D;
}
.client-section p{
    color: #717171;
    line-height: 16.7px;
    font-size: 11.14px;
    font-weight: 400;
}
.logo-strip-container{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 11px;
}
.company-logo{
    display: flex;
    gap: auto;
}
.suitable-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 11.14px;
    padding-top: 67.84px;
    width: 100%;
    box-sizing: border-box;
}
.suitable-section h1{
    font-weight: 600;
    font-size: 25.06px;
    line-height: 30.6px;
    color: #4D4D4D;
    text-align: center;
}

.suitable-section p{
    font-weight: 400;
    font-size: 11.14px;
    line-height: 16.7px;
    color: #717171;
    text-align: center;
}
.suitable-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 0 100.23px ;
}
.suitable-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 16.71px 22.27px;
    width: 208.12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.frame4{
    padding: 70px 100.23px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: auto;

}
.frame4-right{
    display: flex;
    flex-direction: column;
    gap: 22.27px;
    width: 460px;
    position: relative;
    bottom: 30px;
}
.frame4-right h1{
    font-size: 25.06px;
    font-weight: 600;
    line-height: 30.6px;
    color: #4D4D4D;
}
.frame4-right p{
    font-weight: 400;
    font-size: 9.74px;
    line-height: 13.9px;
    color: #717171;
}
.frame4-left{
    width: 375px;
    height: 302px;
}
.frame5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f7fa;
    padding: 44.55px 100.23px;
    
} 
.frame5-left{
    display: flex;
    flex-direction: column;
    gap: 5.57px;
    position: relative;
    left: 90px;
}
.frame5-left h1{
    color: #4D4D4D;
    font-size: 25.06px;
    line-height: 30.6px;
    font-weight: 600;
}
.frame5-left h1 span{
    color: #4CAF4F;
}
.frame5-left p{
    font-weight: 400;
    font-size: 11.14px;
    line-height: 16.7px;
    color: #18191F;
}
.frame5-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 27.84px;
    position: relative;
    right: 120px;
}
.frame5-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11.14px;
}
.frame5-item h1{
    font-weight: 700;
    font-size: 19.49px;
    color: #4D4D4D;
    line-height: 25.1px;
}
.frame5-item p{
    font-weight: 400;
    font-size: 11.14px;
    line-height: 16.7px;
    color: #717171;
}
.last-frame{
    display: flex;
    gap: 127px;
    background: #263238;
    padding: 44.55px 114.85px;
    align-items: left;
    color: #ffffff;
}
.part1{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.part1-IH{
    display: flex;
    gap: 6.88px;    
    align-items: center;
}
.part1-IH img{
    width: 30.12px;
    height: 20.65px;
    border: 1px solid;
    background-color: white;
    position: relative;
    bottom: 6px;
}
.part1-IH-h1{
    font-weight: 500;
    font-size: 25.06px;
    line-height: 30.6px;
    text-align: center;
    padding-bottom: 10px;
}
.part1-p{
    font-weight: 400;
    font-size: 11.14px;
    line-height: 16.7px;
    color: #f5f7fa;
}
.part1, .part2, .part3, .part4{
    display: flex;
    flex-direction: column;
    gap: 8.35px;
}
input{
    width: 177.5px;
    height: 27.84px;
    border-radius: 5.57px;
    opacity: 0.2;
    color: #ffffff;
    padding: 4px;
}
@media screen and (max-width: 768px) {
    .hero-section{
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 20px;
        gap: 40px;
    }
    .hero-right{
        position: static;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .hero-right img{
        width: 200px;
        height: auto;
    }
    .hero-left h1{
        font-size: 32px;
        line-height: 38px;
            /* text-align: center; */
    }
    .hero-left p{
        font-size: 14px;
        line-height: 20px;
        /* text-align: center; */
    }

    .suitable-content{
        flex-direction: column;
        padding: 0 20px;
    }
    .frame4{
        flex-direction: column;
        padding: 50px 20px;
    }
    .frame4-left, .frame4-right{
        position: static;
        width: 100%;
        /* text-align: center; */
    }
    .frame5{
        flex-direction: column;
        padding: 30px 20px;
        gap: 30px;
    }
    .frame5-left, .frame5-right{
        position: static;
        right: 0;
        left: 0;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .last-frame{
        flex-direction: column;
        gap: 30px;
        padding: 30px 20px;
        align-items: center;
        text-align: center;
    }   
    .last-frame input{
        width: 100%;
    }
}